.holder{
	display:flex;
	justify-content: space-between;
}

.three{
	width:100px;
	height:100px;
	background-color:green;
	text-align:center;
}

.one{
	width:100px;
	height:100px;
	background-color:red;
	text-align:center;
}
.two{
	width:100px;
	height:100px;
	background-color:blue;
	text-align:center;
}